/* Reset */
html, body, h1, h2,
h3, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0; }

/* Style guide */
html {
  font-size: 16px;
}

body {
  font-size: 100%;
  line-height: 1.5em;
}

p,
nav.navbar {
  font-size: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}

/*************/
.splash {
  height: 100vh;
  position: relative;
  background-color: #3F51B5;
  text-align: center;
  padding-top: 40vh;
}

.splash h3 {
  padding-top: 10vh;
}

.splash .fa-angle-double-down {
  padding-top: 5vh;
}

.splash a {
  color: inherit;
}

.mission {
  position: relative;
  background-color: #5f5448;
  /*background-color: rgb(66, 133, 244);*/


}

.mission p {
  top: 30%;
}

.main-feature h2,
.main-feature p,
.mission p {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

.main-feature h2 {
  margin-bottom: 20px;
}
.main-feature h2,
.main-feature p {
  top: 30%;
}

.features,
.features-2 {
  margin: 0 auto;
  position: relative;
}

.splash,
.mission,
nav.navbar a {
  color: hsl(0, 0%, 90%);
}

/*.features,*/
nav.navbar {
  /*background-color: #37474F;*/
  border-radius: 0;
  margin: 0;
}

footer {
  position: relative;
  text-align: center;
  padding: 2.08333% 0.69444%;
  background-color: #263238;

}

footer .row:last-child {
  margin-top: 10px;
}

footer,
footer a {
  color: hsl(0, 0%, 90%);
}

footer ul {
  list-style-type: none;
}

.social {
  height: 100%;
  position: relative;
  top: 50%;
}

footer i.fa {
  font-size: 1.5em;
  margin-right: 5px;
}
