/* Reset */
html, body, h1, h2,
h3, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0; }

/* Style guide */
html {
  font-size: 16px;
}

body {
  font-size: 100%;
  line-height: 1.5em;
}

p {
  margin-bottom: 1.5em;
}

p,
nav.navbar {
  font-size: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

/*************/
.splash {
  height: 100vh;
  position: relative;
  background-color: #3F51B5;
  text-align: center;
  padding-top: 40vh;
}

.splash h3 {
  padding-top: 10vh;
}

.splash .fa-angle-double-down {
  padding-top: 30vh;
  animation: pulse .8s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.splash a {
  color: inherit;
}

.services-container {
  background-color: #333333;
  color: hsl(0, 0%, 90%);
}

.services {
  text-align: center;
}


.service-icon {
  /*background-color: #782A2B;*/
  color: hsl(0, 0%, 95%);
  font-size: 5em;
  border: solid 10px;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  box-shadow: 0 0 10px hsl(0, 50%, 50%);
  /*box-shadow: 0 0 10px hsl(0, 0%, 50%);*/
  background-color: #8C3582;
  border-color: #C249B4;
  /*box-shadow: 0 0 10px hsl(300, 50%, 50%);*/
  box-shadow: 0 0 5px hsl(300, 50%, 10%);
}

.services a {
  background-color: #8C3582;
  box-shadow: 0 0 5px hsl(300, 50%, 10%);
  padding: 10px 20px;
  color: inherit;
}

.services a:hover,
.services a:focus {
  background-color: #C249B4;
  color: inherit;
}


.services p,
.service-icon {
  margin-bottom: 30px;
}

.services,
.serv,
.about {
  margin-left: auto;
  margin-right: auto;
}

.services > div,
.serv > div,
.services,
.serv,
.about {
  /*margin-top: 4.89716%;*/
  margin-top: 3.18471%;
  margin-bottom: 4.89716%;
}

.serv {
  margin-bottom: 0;
}

.services .col-md-4:last-child .service-icon {
  padding-left: 0px;
}

.serv-erate-container,
.serv-about-container {
  background-color: #2C3E50;
  color: hsl(0, 0%, 95%);
}

.splash,
nav.navbar a {
  color: hsl(0, 0%, 90%);
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 5.97609%;
}
.section-header ul {
  list-style-type: none;
}
.section-header ul li {
  display: inline;
  margin-right: 2.00803%;
}
.section-header ul li:nth-child(2) {
  font-size: 2.2em;
}
.section-line {
  width: 10.04016%;
  height: 2px;
  background-color: #000;
  display: inline-block;
  margin-bottom: 0.6em;
}

.services-container .section-line,
.serv-erate-container .section-line,
.serv-about-container .section-line {
  background-color: hsl(0, 0%, 90%);
}

/*.features,*/
nav.navbar {
  /*background-color: #37474F;*/
  background-color: #3F51B5;
  border-radius: 0;
  margin: 0;
}

nav.navbar ul li a:hover {
  background-color: #3D78CC;
}

footer {
  position: relative;
  text-align: center;
  padding: 2.08333% 0.69444%;
  background-color: #333333;

}

footer .row:nth-child(n+1) {
  margin-top: 10px;
}

footer,
footer a {
  color: hsl(0, 0%, 90%);
}

footer ul {
  list-style-type: none;
}

.social {
  height: 100%;
  position: relative;
  top: 50%;
}

footer i.fa {
  font-size: 1.5em;
  margin-right: 5px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
