/* Reset */
html, body, h1, h2,
h3, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0; }

/* Style guide */
html {
  font-size: 16px;
}

body {
  font-size: 100%;
  line-height: 1.5em;
  font-family: 'Lato', sans-serif;
}

p {
  margin-bottom: 1.5em;
}

p,
nav.navbar {
  font-size: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

/**/
header,
main > .row {
  height: 50vh;
}

footer {
  height: 20vh;
}

/*.panel-one {
  background-image: url('../assets/images/cover2.jpg');
  background-position: left center;
  background-size: cover;
  height: 50vh;
  background-attachment: fixed;
}*/

.services-preview,
.contact {
  background-color: hsl(50, 100%, 70%);
}

.networking {
  background-color: hsl(30, 100%, 60%);
}

.office {
  background-color: hsl(195, 80%, 70%);
}

.about {
  background-color: hsl(0, 0%, 80%);
}

footer {
  background-color: hsl(0, 10%, 30%);
}
